*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.grey-bg{
  background-color: #F7F6F3;
}


.modal{
  background-color: rgba(0, 0, 0, 0.4);
  animation-name: fadeIn;
  animation-duration: .5s;
}

.table th{
  padding: 1rem;
}

.pull-up{
  animation-name: pullup;
  animation-duration: .5s;
}


/********************
*key frames
********************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes pullup {
  from {
    transform: translateY(20px);
  }
  to{
    transform: translateY(0);
  }
}


